<a href="https://colab.research.google.com/github/Victorbessemer2/progamacaocompython/blob/main/TuplasDicListaString/C%C3%B3pia_de_Exercicio_LISTAS_07_08_24.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Exercícios apos a explicação**

## 1. Soma dos Elementos da Lista
Dada uma lista de números, calcule a soma de todos os elementos.

In [25]:
lista = [1, 2, 3, 4, 5]
soma = 0
for numero in lista:
    soma = soma + numero
print("A soma dos elementos é:", soma)

A soma dos elementos é: 15

## 2. Produto dos elementos da lista
Dada uma lista de números, calcule o produto de todos os elementos.

In [26]:
lista2 = [1, 2, 3, 4, 5]
multi = 1
for numero in lista2:
    multi = multi * numero

print("A multiplicação dos elementos é:", multi)

A multiplicação dos elementos é: 120

## 3. Encontre o menor elemento
Dada uma lista de números, encontre o menor elemento.

In [27]:
lista3 = [1, 2, 3, 4, 5]
menor = lista3[0]
for numero in lista3:
    if numero < menor:
        menor = numero
print("O menor elemento é:", menor)

O menor elemento é: 1

## 4. Encontre o maior elemento
Dada uma lista de números, encontre o maior elemento.

In [28]:
lista4 = [1, 2, 3, 4, 5]
maior = lista3[0]
for numero in lista3:
    if numero > maior:
        maior = numero
print("O menor elemento é:", maior)

O menor elemento é: 5

## 5. Contar Ocorrências de um Elemento
Dada uma lista de números e um número alvo, conte quantas vezes o alvo aparece na lista.

In [29]:
lista5 = [1, 2, 3, 4, 3, 2, 1]
lista5.count(1)

2

## 6. Remover duplicatas
Dada uma lista de números, crie uma nova lista sem elementos duplicados.

In [30]:
lista6 = [1, 2, 2, 3, 4, 4, 5]
lista6.remove(2)
lista6.remove(4)
lista = lista6
print(lista)

[1, 2, 3, 4, 5]

## 7. Inverter uma lista
Dada uma lista de números, inverta a ordem dos elementos.

In [31]:
lista6 = [1, 2, 3, 4, 5]
lista6.reverse()
lista6

[5, 4, 3, 2, 1]

## 8. Intercalar Duas Listas
Dadas duas listas de números, crie uma nova lista intercalando os elementos das duas listas.

In [35]:
lista81 = [1, 3, 5]
lista82 = [2, 4, 6]
lista83 = [lista81[0], lista82[0], lista81[1], lista82[1], lista81[2], lista82[2]]
lista83

[1, 2, 3, 4, 5, 6]

## 9. Somar Elementos Correspondentes de Duas Listas
Dadas duas listas de números de mesmo tamanho, crie uma nova lista com a soma dos elementos correspondentes.

In [33]:
lista91 = [1, 2, 3]
lista92 = [4, 5, 6]
lista93 = [lista91[0] + lista92[0], lista91[1] + lista92[1], lista91[2] + lista92[2]]
lista93

[5, 7, 9]

**negrito**## 1. Mover Zeros para o Fim
Dada uma lista de números, mova todos os zeros para o final da lista.

In [34]:
lista10 = [0, 1, 0, 3, 12]
lista10.remove(0)
lista10.remove(0)
lista10.append(0)
lista10.append(0)
lista10

[1, 3, 12, 0, 0]

# **Exercicios da explicação**

Exercício 12: Manipulação de Listas
Defina uma lista com 5 nomes de cidades.
Adicione uma nova cidade ao final da lista.
Remova a segunda cidade da lista.
Imprima a lista resultante.

In [2]:
cidades = ['Recife', 'Manaus', 'Salvador','São Paulo', 'Fortaleza']
cidades.append('Rio de Janeiro')
cidades.remove('Manaus')
print(cidades)

['Recife', 'Salvador', 'São Paulo', 'Fortaleza', 'Rio de Janeiro']

Exercício 3: Operações com Tuplas
Defina uma tupla com 4 cores.
Crie uma nova tupla que seja a concatenação da tupla original com outra contendo mais 2 cores.
Imprima a nova tupla.

In [3]:
cores = ('vermelho', 'verde', 'azul', 'amarelo')
novas_cores = cores + ('rosa', 'laranja')
print(novas_cores)

('vermelho', 'verde', 'azul', 'amarelo', 'rosa', 'laranja')

Exercício 13: Dicionários Simples
Crie um dicionário para representar um aluno, contendo "nome", "idade" e "curso".

Atualize a idade do aluno.
Adicione uma nova chave "nota" com um valor.
Imprima o dicionário atualizado

In [4]:
estudante = {
    "nome": " Victor", "idade": 15, "curso": "Engenharia",
}
estudante["idade"] = 19
estudante["nota"] = 10
print(estudante)

{'nome': ' Victor', 'idade': 19, 'curso': 'Engenharia', 'nota': 10}

Exercício 14: Listas e Dicionários
Crie uma lista de dicionários, onde cada dicionário representa um produto com as chaves "nome" e "preço".
Adicione um novo produto à lista.
Atualize o preço do primeiro produto na lista.
Imprima a lista resultante.

In [5]:
cardapio = {"macarão": 26.90, "cafe": 4.0}
cardapio2 = {"arroz frito": 17.90}
cardapio.update(cardapio2)
cardapio["macarão"] = 27.90
print(cardapio)

{'macarão': 27.9, 'cafe': 4.0, 'arroz frito': 17.9}

Exercício 15: Analisando uma Lista de Tuplas
Crie uma lista de tuplas, onde cada tupla contém um par (nome, idade).
Encontre e imprima o nome da pessoa mais velha.
Encontre e imprima a idade média das pessoas.

In [6]:
alunos = [('victor', 10,), ('ronaldo', 16)]
idades = []
print(len(alunos))
for aluno in alunos:
    if aluno[1] >= aluno[1]:
        idades.append(aluno[1])
        mais_velho = aluno[0]



media = sum(idades) / len(idades)
print("A pessoa mais velha é:", mais_velho)
print("A média de idade é:", media)

2
A pessoa mais velha é: ronaldo
A média de idade é: 13.0

# **Manipulaçao String**

# Tuplas - Acesso e Desempacotamento

1) Crie uma tupla contendo três tipos diferentes de dados: um número, uma string e uma lista. Use um laço de repetição para acessar e imprimir cada item da tupla. Além disso, dentro do laço, acesse e imprima o segundo item da lista que está dentro da tupla.

In [ ]:
dados = (24, "Cíntia",[1,2,3])

for i in dados:
  print(i)




print("segundo item:", dados[1])

# Dicionários - Criação e Acesso
## Cadastro de Pessoas e Análise de Alturas
2) Solicite ao usuário para inserir o nome e a altura de várias pessoas. Preencha um dicionário com essas informações e depois encontre e imprima o nome e a altura da pessoa mais alta e da mais baixa.

In [24]:


pessoas = {}

while True:
    nome = input("Insira o nome da pessoa (ou digite 'sair' para encerrar): ")
    if nome.lower() == 'sair':
        break
    altura = float(input(f"Insira a altura de {nome} em metros: "))
    pessoas[nome] = altura

mais_baixa = 100000
mais_alta  = 0
nome_mais_baixa = ''
nome_mais_alta = ''
for nome, altura in pessoas.items():
    if altura > mais_alta:
        mais_alta = altura
        nome_mais_alta = nome
for nome, altura in pessoas.items():
    if altura < mais_baixa:
        mais_baixa = altura
        nome_mais_baixa = nome


print(f"A pessoa mais alta é {nome_mais_alta} com {mais_alta} metros.")
print(f"A pessoa mais baixa é {nome_mais_baixa} com {mais_baixa} metros.")

Insira o nome da pessoa (ou digite 'sair' para encerrar): p

KeyboardInterrupt: Interrupted by user

# Lista, laços e Condicionais
3) Descrição: Crie uma listacom cinco números inteiros. Use um laço de repetição e uma condicional para imprimir apenas os números que são múltiplos de 3.

In [ ]:

numeros = [10, 15, 23, 9, 30]

for numero in numeros:
    if numero % 3 == 0:
        print(numero)

# Manipulação de Strings e Condicionais
4) Descrição: Crie uma string com uma frase. Use uma condicional para verificar se a frase contém a palavra "Python". Se sim, substitua a palavra "Python" por "programação" e imprima a nova frase.

In [ ]:

frase = "Estou aprendendo Python e é muito legal!"

if "Python" in frase:
    nova_frase = frase.replace("Python", "programação")
    print(nova_frase)
else:
    print("A palavra 'Python' não foi encontrada na frase.")

# Simulação de Alfândega com Cadastro Dinâmico de Itens usando dicionário
5) Simule uma situação de alfândega onde o funcionário cadastra itens novos encontrados na mala de uma pessoa que veio de uma viagem internacional. Após o cadastro de todos os itens, o programa imprime uma nota com todos os itens e seus preços, calcula o valor total e, se o valor total ultrapassar 500 dólares, calcula o valor de 60% a ser pago.

In [ ]:

itens = {}

while True:
    item = input("Nome do item (ou 'sair' para encerrar): ")
    if item.lower() == 'sair':
        break
    preco = float(input(f"Preço de {item} em dólares: "))
    itens[item] = preco

valor_total = sum(itens.values())

print("\nNota da Alfândega:")
for item, preco in itens.items():
    print(f"{item}: ${preco:.2f}")

print(f"\nValor total: ${valor_total:.2f}")

if valor_total > 500:
    taxa = valor_total * 0.60
    print(f"\nValor a ser pago (60% do total): ${taxa:.2f}")
else:
    print("Não há taxa a ser paga.")

# Identificação de Palavras Negativas em um Texto
6) Você vai criar um programa em Python para analisar um texto e identificar palavras que expressam pensamentos negativos. Para isso, você usará uma lista de palavras negativas fornecida e verificará quais dessas palavras estão presentes no texto fornecido pelo usuário. Exemplo de palavras negtivas, acrescente mais na lista: # Lista de palavras negativas palavras_negativas = ['triste', 'deprimido', 'ansioso', 'desapontado', 'frustrado']

In [ ]:

palavras_negativas = ['triste', 'deprimido', 'ansioso', 'desapontado', 'frustrado']

texto = input("Digite um texto: ").lower()

for palavra in palavras_negativas:
    if palavra in texto:
        print(f"Palavra negativa encontrada: {palavra}")

# **Manipulaçao String**

In [ ]:
# 1 - Use o método len para imprimir o comprimento da string.
x = "Hello World"
print(len(x))

In [ ]:
# 2 - Obtenha o primeiro caractere da string txt.
txt = "Hello World"
x = txt[0]
print(x)

In [ ]:
# 3 - Obtenha os caracteres do índice 2 ao índice 4 ( llo).
txt = "Hello World"
print (txt[2:5])

In [ ]:
# 4 - Converta o valor de txt para maiúsculas.
txt = "Hello World"
txt = txt.upper()
print(txt)

In [ ]:
# 5 - Conte quantas vezes aparece a palavra "de" na string abaixo
txt = "Eu gosto de vijar, tomar vinho, de estudar estudar programação, de estudar Pyhon"
x = txt.count("de")
print(x)

In [ ]:
# 6 - Separe a frase abaixo toda vez que encontrar um vírgula
txt = "Eu gosto de vijar, tomar vinho, de estudar estudar programação, de estudar Pyhon"
x = txt.split(",")
print(x)

In [ ]:
#7 - Peça ao usuário uma frase e substitua todas as ocorrências de espaço por “#”.
frase = input("Digite uma frase: ")
frase.replace(" ", "#")

In [ ]:
# 8 - Faça um programa que retorne True se duas strings lidas do teclado são palíndromas mútuas, ou seja, se uma é igual à outra quando lida de traz para frente ou False, se não forem.
# Por exemplo: amor e roma
palavra1 = 'amor'
palavra2 = 'roma'
if palavra1 == palavra2[::-1]:
  print("verdadeiro")
else:
  print("falso")

In [ ]:
# 9- Faça um programa que leia o nome do usuário e mostre o nome de traz para frente, utilizando somente letras maiúsculas.
nome = 'maria'
nome = nome.upper()
nome[::-1]